/* style the buttons  */
button {
    margin: 1rem;
    border-radius: 13%;
    border: solid black 1px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

    width: 100px;
    color: blue;
    padding: 2rem;
}
/* Adding a border around the attractions  */
/* make content fit the mobile screen by setting minimums for the size  */
.detail-attraction{
    border: 1px solid linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border-radius: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300%;
    width: 400px;
    min-height: 250px;
    background-color: rgba(238, 238, 238, 0.4);
    text-align: center;
    padding: 15px;
    margin-top: 85px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    

    
   
}
/* Adding a font to the attractions  */

.buttons-flex{
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
li{
    background: none;
    list-style: none;
}



.detail-modal {
    /* display: flex; */
    z-index: 4;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);

}

.edit-form {
	width: 500px;
	height: 400px;
}

    /* we want to style the details which is done is attractions but lets see what we can add in details */
   
/* give the form for editing and creating some style possibly make a modal for the details page so that it pops up when the edit is clicked   */
/* .edit-form{
    /* position: fixed;
    margin-top: 40px;
    z-index: 1;
    background-color: rgba(255,255,253,0.5);
     we want our width and height to equal 100% of our CONTAINER, not the Document
    min-width: 100%;
    min-height: 100%;
    color:white;

} */