main{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10% ;
}
.category-parent{
/* tells form-parent how to display its children */
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: 15% 35% 35% 15%;    
    /* should it span? */
    grid-column: 1/span 2; 
    grid-row: 2/span 2;
    /* what about how form-parent should be displayed? */
}

.search-form{
     justify-content: center;
    align-content: center;
    display: inline;
    grid-column: 2;
    grid-row: 1;
  
}

.search-label {
    color: white;
    font-size: 16px;
}

.result{
grid-row: 2;
grid-column:2/span 2 ;
/* how should I display my children? */
	display: grid;
	grid-template-rows: repeat(auto-fill, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;

}

.category-link{
    	
	border-radius: 6px;
    background-color: rgba(238, 238, 238, 0.4 );
	margin: 20px auto;
	width: 200px;
	height: 200px;
	
	color: white;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
    text-align: center;
    text-decoration: none;

	overflow: auto;
}

.category-link a {
    text-decoration: none;
}
