a {
	text-decoration: none;
	color: white;
}

.attraction-list {
	/* how am I displayed inside my parent? */
	grid-row: 2;
	grid-column: 2;
	border-radius: 6px;

	margin: 20px auto;
	width: 100%;
	height: 100%;
	
	color: white;
	justify-content: space-around;
	justify-items: center;
	align-items: center;

	/* how should I display my children? */
	display: grid;
	grid-template-rows: repeat(auto-fill, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;

	overflow: auto;
}

.attraction-list::-webkit-scrollbar {
	display: none;
}

.home-attraction {
	margin: 10px;
	padding: 10px;
	border:  2px;
	border-radius: 13px;
	width: 200px;
	height: 200px;
	background-color: rgba(238, 238, 238, 0.4 );

	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	justify-content: start;
	overflow: auto;
}
.home-attraction::-webkit-scrollbar {
	display: none;
}
.home-link {
	text-decoration: none;
	color: rgb(238,238,238);
}

/* create media queries for tablet, then computer, on Home.css */

@media (min-width: 500px) {
}
/* rip zoom */
@media (min-width: 1001px) {
}
