/* Eegii
start giving classNmes for the tags
give style on buttons and inputs
    border radius, color, font
stick with 3 simple color for hole app!
media quiry!

*/

form {
	/* Display tells this object to display its children in a particular way. */
	display: grid;
	grid-template: repeat(6, 1fr) / 1fr;
	margin: 15px;
	padding: 10px;
    background-color:rgb(45, 64, 89);

}
label {
	color:rgb(238, 238, 238);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input {
	display: inline-block;
	border-radius: 15px;
	background-color: light-grey;
	border-radius: 10px;
	width:80%;
	border-radius: 25px;

}
.placeholder {
	margin: 15px;
	padding: 15px;
}
button {
	/* Display tells this object to display its children in a particular way. */
    margin: 35px;
	padding: 20px;
	border-radius:20px;

}

 .modal {
     display: flex; 
    z-index: 1;
    grid-row: 2;
    grid-column: 2;

}
.edit-form {
	width: 100%;
	height: 100%;
	background-color: rgb(45, 64, 89);

	border: solid black 1px;
	border-radius: 25px;
	z-index: 20;
	padding: 15px;

    text-align: center;
	font-family: 'Roboto', sans-serif;
	color: rgb(238, 238, 238);
}
