/*on create we want to give the button more style  as well as give the */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.create-form {
	/* margin:20px; */

	grid-row: 2;
	grid-column: 2;

	border-radius: 25px;
	background-color: rgb(45, 64, 89);
	width: 100%;
	height: 100%;
	font-family: 'Gluten', cursive;
	font-weight: 400;
	margin: auto;
	border: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;

	justify-content: start;
	align-content: center;

	overflow: auto;
}

.create-form::-webkit-scrollbar {
	display: none;
}

.btn-create {
	grid-row: 3;
	margin-top: -20px;
	align-self: center;
}
.label-input{
  display:block;
  background-color:rgb(45, 64, 89) ;

}

label {
	/* display: inline-block; */
	margin-top: 1rem;
	margin-right: 2rem;
	/* background-color: rgb(45, 64, 89); */
	color: rgb(238, 238, 238);
	font-family: 'Gluten', cursive;
	font-size: 2rem;
	/* font-size: larger; */
	width: 180px;

	/* text-align: right; */
}

.input-create {
	/* margin-top: 1rem;
	margin-left: 4rem;
	align-items: center; */
	width: fit-content;
	height: 2.5rem;
	border-radius: 8px;
	background-color: rgb(238, 238, 238);
	/* display:inline-block; */
}
input:focus,
textarea:focus {
	background: rgb(238, 238, 238);
	border-radius: 15px;
	/* display: inline-block; */
}

::placeholder {
	padding: 8px;
}
.btn-create {
	border-radius: 15px;
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	color: blue;
	cursor: pointer;
	grid-column-end: 3;
	font-size: 2rem;
	margin: 2rem;
	width: 10rem;
    height:4rem;
    text-align: center;
    padding:2px;

}

h2 {
	color: rgb(238, 238, 238);
	/* font-size:2.5rem; */
}
@media(min-width: 500px) {
	.create-form {
		grid-row: 1/span 2;
		height: fit-content;
	}
}