@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

label {
	margin-top: 1rem;
	margin-right: 2rem;
	color: rgb(238, 238, 238);
	font-family: 'Gluten', cursive;
	font-size: 2rem;
	width: 180px;
}

input:focus,
textarea:focus {
	background: rgb(238, 238, 238);
	border-radius: 15px;	
}
::placeholder {
	padding: 8px;
}

@media (min-width: 500px) {
	.create-form {
		grid-row: 1 / span 3;
	}
}
