
.app {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template: 10% 90% / 10% 80% 10%;
	background-color: rgb(34, 40, 49);
	height: 100vh;
	width: 100%;
	background-image: url('./assets/backgrounds/bg.jpeg');
	background-size: cover;
}
header {
	grid-row: 1;
	grid-column: 1 / span 3;
}

main {
	width: 100%;
	grid-row: 2;
	grid-column: 2;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;

	overflow: hidden;
}



form {
	/* how am I displayed? */
	grid-row: 1 / span 2;
	grid-column: 2;
	border-radius: 25px;
	background: rgba(0, 0, 0, 0.7) ;


	padding: 1rem;
	width: 100%;
	height: 100%;
	font-family: 'Gluten', cursive;
	font-weight: 400;
	margin: auto;
	border: 5px;

/* how do I display my children? */
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
	grid-template-columns: 1fr 1fr;

	text-align: center;
	justify-content: start;
	align-content: center;
	overflow: auto;
}

form input {
	margin: auto;
	max-width: 600px;
}

form::-webkit-scrollbar {
	display: none;
}

.headline {
	color: black;
	grid-column: 2;
	grid-row: 1;
	text-align: center;
}

.attraction-list {	
	grid-row: 2/span 2;
	grid-column: 1/span 3;
	border-radius: 1rem;
	margin: 20px auto;
	width: 100%;
	height: 100%;
	color: black;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
	display: grid;
	grid-template-rows: repeat(auto-fill, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
	overflow: auto;
}

.attraction {
	/* how I'm displayed */
	margin: 10px;
	padding: 10px;
	border: 2px;
	/* border-radius: 1rem; */
	width: 200px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.4);

	/* text */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-decoration: none;
	color: white;
	text-align: center;

	/* how I display my children */
	display: flex;
	flex-direction: column;
	justify-content: start;
	overflow: auto;
}

.attraction::-webkit-scrollbar {
	display: none;
}

.attraction a {
	color: white;
	text-decoration: none;
}

.search-form {
	grid-column: 2;
	grid-row: 1;
	border-radius: 0;
	margin-left: 30px;
	margin-right: 30px;
	

	justify-self: center;
	align-self: center;
	display: flex;
	align-items: center;

}


.buttons-flex{
	grid-column: 2;
	width: 100%;
	padding: 1rem;
	justify-content: space-evenly;
	justify-items: space-evenly;
}

.app-button{
	margin: 1rem;
	background: linear-gradient(0.25turn, #060809, #595958, #cecdcd);
	width: 100px;
	height: 50px;
	color: pink;

}
@media(max-width: 600px){
	.app{
		display: flex;
		flex-direction: column;
	}

}
